{{email.emailId}}
<div class="container">

    <form class="well form-horizontal" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Forget Password</b></h2></center></legend><br>
	<center><p>You can reset your password here.</p></center>

<!-- Text input-->

<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input name="emailid"
								placeholder="Email" class="form-control" type="text" size=25
								ng-model="email.emailId" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
						</div>
						<span style="color: Red"
							ng-show="loginForm.emailid.$error.pattern">Please Enter
							Valid Email</span>
							<span style="color: Red"
							ng-show="!((loginForm.emailid.$dirty || submitted) && loginForm.emailid.$error.required)">
							Required! </span>
					</div>
				</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="resetpassword()" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     Send My Password <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
	
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->